section.product-display
	.article-section-title
		h2 Khóa điện tử
	.container
		.row.no-gutters
			.col-lg-3.item
				.figure
					.figure-image.shine
						img(src="./img/san-pham/product-image-1.png", alt="")
					.figure-caption
						h4 MS: 613.42.303
						p Khoá điện tử
						h5 10.100.000 VND
					.item-cart
						a(href="#")
							em.mdi.mdi-cart
							h3 Thêm vào giỏ hàng
			.col-lg-3.item
				.figure
					.figure-image.shine
						img(src="./img/san-pham/product-image-2.png", alt="")
					.figure-caption
						h4 MS: 613.42.303
						p Khoá điện tử
						h5 10.100.000 VND
					.item-cart
						a(href="#")
							em.mdi.mdi-cart
							h3 Thêm vào giỏ hàng
			.col-lg-3.item
				.figure
					.figure-image.shine
						img(src="./img/san-pham/product-image-3.png", alt="")
					.figure-caption
						h4 MS: 613.42.303
						p Khoá điện tử
						h5 10.100.000 VND
					.item-cart
						a(href="#")
							em.mdi.mdi-cart
							h3 Thêm vào giỏ hàng
			.col-lg-3.item
				.figure
					.figure-image.shine
						img(src="./img/san-pham/product-image-4.png", alt="")
					.figure-caption
						h4 MS: 613.42.303
						p Khoá điện tử
						h5 10.100.000 VND
					.item-cart
						a(href="#")
							em.mdi.mdi-cart
							h3 Thêm vào giỏ hàng
			.col-lg-3.item
				.figure
					.figure-image.shine
						img(src="./img/san-pham/product-image-5.png", alt="")
					.figure-caption
						h4 MS: 613.42.303
						p Khoá điện tử
						h5 10.100.000 VND
					.item-cart
						a(href="#")
							em.mdi.mdi-cart
							h3 Thêm vào giỏ hàng
			.col-lg-3.item
				.figure
					.figure-image.shine
						img(src="./img/san-pham/product-image-6.png", alt="")
					.figure-caption
						h4 MS: 613.42.303
						p Khoá điện tử
						h5 10.100.000 VND
					.item-cart
						a(href="#")
							em.mdi.mdi-cart
							h3 Thêm vào giỏ hàng
			.col-lg-3.item
				.figure
					.figure-image.shine
						img(src="./img/san-pham/product-image-7.png", alt="")
					.figure-caption
						h4 MS: 613.42.303
						p Khoá điện tử
						h5 10.100.000 VND
					.item-cart
						a(href="#")
							em.mdi.mdi-cart
							h3 Thêm vào giỏ hàng
			.col-lg-3.item
				.figure
					.figure-image.shine
						img(src="./img/san-pham/product-image-8.png", alt="")
					.figure-caption
						h4 MS: 613.42.303
						p Khoá điện tử
						h5 10.100.000 VND
					.item-cart
						a(href="#")
							em.mdi.mdi-cart
							h3 Thêm vào giỏ hàng
			.col-lg-3.item
				.figure
					.figure-image.shine
						img(src="./img/san-pham/product-image-9.png", alt="")
					.figure-caption
						h4 MS: 613.42.303
						p Khoá điện tử
						h5 10.100.000 VND
					.item-cart
						a(href="#")
							em.mdi.mdi-cart
							h3 Thêm vào giỏ hàng
			.col-lg-3.item
				.figure
					.figure-image.shine
						img(src="./img/san-pham/product-image-10.png", alt="")
					.figure-caption
						h4 MS: 613.42.303
						p Khoá điện tử
						h5 10.100.000 VND
					.item-cart
						a(href="#")
							em.mdi.mdi-cart
							h3 Thêm vào giỏ hàng
			.col-lg-3.item
				.figure
					.figure-image.shine
						img(src="./img/san-pham/product-image-11.png", alt="")
					.figure-caption
						h4 MS: 613.42.303
						p Khoá điện tử
						h5 10.100.000 VND
					.item-cart
						a(href="#")
							em.mdi.mdi-cart
							h3 Thêm vào giỏ hàng
			.col-lg-3.item
				.figure
					.figure-image.shine
						img(src="./img/san-pham/product-image-12.png", alt="")
					.figure-caption
						h4 MS: 613.42.303
						p Khoá điện tử
						h5 10.100.000 VND
					.item-cart
						a(href="#")
							em.mdi.mdi-cart
							h3 Thêm vào giỏ hàng