section.product-others
	.product-article-title
		h2 Sản phẩm khác
	.row
		.col-xl-3.col-sm-4.col-6
			.item
				.figure
					.figure-image.shine
						img(src="./img/san-pham/product-image-1.png", alt="")
					.figure-caption
						h4 MS: 613.42.303
						p Khoá điện tử
						h5 10.100.000 VND
					.item-cart
						a(href="#")
							em.mdi.mdi-cart
							span Thêm vào giỏ hàng
		.col-xl-3.col-sm-4.col-6
			.item
				.figure
					.figure-image.shine
						img(src="./img/san-pham/product-image-2.png", alt="")
					.figure-caption
						h4 MS: 613.42.303
						p Khoá điện tử
						h5 10.100.000 VND
					.item-cart
						a(href="#")
							em.mdi.mdi-cart
							span Thêm vào giỏ hàng
		.col-xl-3.col-sm-4.col-6
			.item
				.figure
					.figure-image.shine
						img(src="./img/san-pham/product-image-3.png", alt="")
					.figure-caption
						h4 MS: 613.42.303
						p Khoá điện tử
						h5 10.100.000 VND
					.item-cart
						a(href="#")
							em.mdi.mdi-cart
							span Thêm vào giỏ hàng
		.col-xl-3.col-sm-4.col-6
			.item
				.figure
					.figure-image.shine
						img(src="./img/san-pham/product-image-4.png", alt="")
					.figure-caption
						h4 MS: 613.42.303
						p Khoá điện tử
						h5 10.100.000 VND
					.item-cart
						a(href="#")
							em.mdi.mdi-cart
							span Thêm vào giỏ hàng