section.he-thong
	.article-section-title
		h2 Hệ thống cửa hàng
	.row.no-gutters
		.col-lg-8
			#map
				#map_canvas
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15677.422864818953!2d106.6939804!3d10.78404405!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f4b3330bcc7%3A0x4db964d76bf6e18e!2zVGjhuqNvIEPhuqdtIFZpw6puIFPDoGkgR8Oybg!5e0!3m2!1svi!2s!4v1559202573529!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		.col-lg-4
			#clinic-finder
				.search-location
					h3 Tìm địa điểm
					.select-group
						select(name="")
							option(value="Lorem 1") Lorem 1
							option(value="Lorem 1") Lorem 1
							option(value="Lorem 1") Lorem 1
					.select-group
						select(name="")
							option(value="Lorem 1") Lorem 1
							option(value="Lorem 1") Lorem 1
							option(value="Lorem 1") Lorem 1
					.select-group
						input(type="text")
						span.mdi.mdi-magnify
			#results
				ul#list
					li.active
						.name Cửa hàng Thành Đạt
						.address
							span.mdi.mdi-map-marker
							p 1248 Lạc Long Quân, Phường 8, Q.Tân Bình, TP Hồ Chí Minh
						.email 
							span.mdi.mdi-email
							p infoacc@ancuong.com
						.phone
							span.mdi.mdi-phone
							p 0903 880 246
					li
						.name Cửa hàng Thành Đạt
						.address
							span.mdi.mdi-map-marker
							p 1248 Lạc Long Quân, Phường 8, Q.Tân Bình, TP Hồ Chí Minh
						.email 
							span.mdi.mdi-email
							p infoacc@ancuong.com
						.phone
							span.mdi.mdi-phone
							p 0903 880 246
					li
						.name Cửa hàng Thành Đạt
						.address
							span.mdi.mdi-map-marker
							p 1248 Lạc Long Quân, Phường 8, Q.Tân Bình, TP Hồ Chí Minh
						.email 
							span.mdi.mdi-email
							p infoacc@ancuong.com
						.phone
							span.mdi.mdi-phone
							p 0903 880 246
					li
						.name Cửa hàng Thành Đạt
						.address
							span.mdi.mdi-map-marker
							p 1248 Lạc Long Quân, Phường 8, Q.Tân Bình, TP Hồ Chí Minh
						.email 
							span.mdi.mdi-email
							p infoacc@ancuong.com
						.phone
							span.mdi.mdi-phone
							p 0903 880 246
							