section.index-project-showroom
	.container
		.row
			.col-12
				.article-title
					h2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque facilis dolor eos vel quam libero eaque voluptate temporibus mollitia sed 	velit doloribus quasi, fugiat at debitis harum perferendis! Dolorem, optio.
		.row
			.col-12.col-lg-4
				.figure
					img(src="./img/index/project-image-1.jpg", alt="dự án Land Mark 81")
					.figure-caption
						h5 Lorem ipsum 
						.figure-button
							a(href="#") Xem thêm
							em.mdi.mdi-play
			.col-12.col-lg-4
				.figure
					img(src="./img/index/project-image-2.jpg", alt="dự án Land Mark 81")
					.figure-caption
						h5 Lorem ipsum 
						.figure-button
							a(href="#") Xem thêm
							em.mdi.mdi-play
			.col-12.col-lg-4
				.figure
					img(src="./img/index/project-image-3.jpg", alt="dự án Land Mark 81")
					.figure-caption
						h5 Lorem ipsum 
						.figure-button
							a(href="#") Xem thêm
							em.mdi.mdi-play