.index-project-showroom
	.figure
		position: relative
		overflow: hidden
		&:before
			transition: .3s all ease-in-out
			opacity: 0
			position: absolute
			content: ''
			display: block
			top: 0
			left: 0
			height: 100%
			width: 100%
			background: rgba(#000,.5)
			z-index: 0
		&:hover
			img
				transition: .45s all ease-in-out
				transform: scale(1.08)
			&:before
				opacity: 1
			.figure-caption
				
				h5
					
					background: none
					color: #fff
				.figure-button
					opacity: 1
		img
			max-width: 100%
			height: auto
			width: 100%
			-moz-transition: all 0.4s ease-in-out, transform 0.2s ease-in-out
			-o-transition: all 0.4s ease-in-out, transform 0.2s ease-in-out
			-webkit-transition: all 0.4s ease-in-out, transform 0.2s ease-in-out
			transition: all 0.4s ease-in-out, transform 0.2s ease-in-out
			overflow: hidden
			transform: scale(1)
		.figure-caption
			position: absolute
			top: 0
			left: 0
			h5
				transition: .3s all ease-in-out
				
				font-size: r(18px)
				line-height: r(24px)
				font-family: 'Encode Sans'
				color: rgb(51, 51, 51)
				font-weight: bold
				text-transform: uppercase
				font-weight: 600
				padding: 1rem 1rem
				display: inline-block
				background: rgba(#fff,.5)
			.figure-button
				width: 10rem
				opacity: 0
				transition: .7s all ease-in-out
				-webkit-box-shadow: 0px 0px 0px 1px rgba(255,255,255,1)
				-moz-box-shadow: 0px 0px 0px 1px rgba(255,255,255,1)
				box-shadow: 0px 0px 0px 1px rgba(255,255,255,1)
				display: flex
				margin-left: 1rem
				justify-content: center
				align-items: center
				a
					text-align: left
					display: flex
					justify-content: center
					align-items: center
					text-decoration: none
					font-size: r(14px)
					font-family: 'Encode Sans'
					color: rgb(255, 255, 255)
					text-transform: uppercase
					margin-right: 1rem
					color: #fff
				em
					color: #fff
