section.index-project-showroom
	.container
		.article-title-index
			h2 DỰ ÁN - SHOWROOM
		.row
			.col-6.col-sm-4
				.figure
					a(href="#")
						img(src="./img/index/project-image-1.jpg", alt="dự án Land Mark 81")
					.figure-caption
						h5 dự án Land Mark 81
						.figure-button
							a(href="#") Xem thêm
							em.mdi.mdi-play
			.col-6.col-sm-4
				.figure
					a(href="#")
						img(src="./img/index/project-image-2.jpg", alt="dự án Land Mark 81")
					.figure-caption
						h5 SHOWROOM
						.figure-button
							a(href="#") Xem thêm
							em.mdi.mdi-play
			.col-6.col-sm-4
				.figure
					a(href="#")
						img(src="./img/index/project-image-3.jpg", alt="dự án Land Mark 81")
					.figure-caption
						h5 Đại lý
						.figure-button
							a(href="#") Xem thêm
							em.mdi.mdi-play