section.flash-sale
	.product-article-title
		h2 
			img(src="./img/flash.png", alt="")
			| Flashsale
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.item
					.figure
						.figure-image.shine
							img(src="./img/san-pham/product-image-9.png", alt="")
						.figure-caption
							h4 MS: 613.42.303
							p Khoá điện tử
							h5 10.100.000 VND
						.item-cart
							a(href="#")
								em.mdi.mdi-cart
								span Thêm vào giỏ hàng
					.discount
						span -10%
			.swiper-slide
				.item
					.figure
						.figure-image.shine
							img(src="./img/san-pham/product-image-10.png", alt="")
						.figure-caption
							h4 MS: 613.42.303
							p Khoá điện tử
							h5 10.100.000 VND
						.item-cart
							a(href="#")
								em.mdi.mdi-cart
								span Thêm vào giỏ hàng
			.swiper-slide
				.item
					.figure
						.figure-image.shine
							img(src="./img/san-pham/product-image-11.png", alt="")
						.figure-caption
							h4 MS: 613.42.303
							p Khoá điện tử
							h5 10.100.000 VND
						.item-cart
							a(href="#")
								em.mdi.mdi-cart
								span Thêm vào giỏ hàng
			.swiper-slide
				.item
					.figure
						.figure-image.shine
							img(src="./img/san-pham/product-image-12.png", alt="")
						.figure-caption
							h4 MS: 613.42.303
							p Khoá điện tử
							h5 10.100.000 VND
						.item-cart
							a(href="#")
								em.mdi.mdi-cart
								span Thêm vào giỏ hàng
			.swiper-slide
				.item
					.figure
						.figure-image.shine
							img(src="./img/san-pham/product-image-12.png", alt="")
						.figure-caption
							h4 MS: 613.42.303
							p Khoá điện tử
							h5 10.100.000 VND
						.item-cart
							a(href="#")
								em.mdi.mdi-cart
								span Thêm vào giỏ hàng
		.swiper-prev
			span.fas.fa-chevron-left
		.swiper-next
			span.fas.fa-chevron-right