.container
	.view-360
		.img#mySpriteSpin
		.hidden
			.img-array
				img(src="./img/image-360/image-1.jpg", alt="")
				img(src="./img/image-360/image-2.jpg", alt="")
				img(src="./img/image-360/image-3.jpg", alt="")
				img(src="./img/image-360/image-4.jpg", alt="")
				img(src="./img/image-360/image-5.jpg", alt="")
				img(src="./img/image-360/image-6.jpg", alt="")
				img(src="./img/image-360/image-7.jpg", alt="")
				img(src="./img/image-360/image-8.jpg", alt="")
				img(src="./img/image-360/image-9.jpg", alt="")
				img(src="./img/image-360/image-10.jpg", alt="")
				img(src="./img/image-360/image-11.jpg", alt="")
				img(src="./img/image-360/image-12.jpg", alt="")