section.index-news
	.container
		.row
			.col-12
				.article-title
					//- h2 Tin tức - chương trình
		.row
			.col-12.col-lg-4
				//- .index-news-figure
				//- 	.figure
				//- 		h4 Vui đón tân xuân - Tri ân khách hàng
				//- 		.figure-image
				//- 			img(src="./img/index/news-image-1.jpg", alt="Ưu đãi khi mua sắm cùng Techcombank. Bạn được  giảm 40% khi mua khoá điện tử IMUNDEX...")
				//- 		p Ưu đãi khi mua sắm cùng Techcombank. Bạn được  giảm 40% khi vmua khoá điện tử IMUNDEX...
				//- 		.figure-link
				//- 			em.mdi.mdi-chevron-right
				//- 			a(href="#") Tri ân khách hàng từ 1/1/2019
				//- 		.figure-link
				//- 			em.mdi.mdi-chevron-right
				//- 			a(href="#") Tri ân khách hàng từ 1/1/2019
			.col-12.col-lg-6
				//- .index-news-swiper
				//- 	h2 Khuyến mãi
				//- 	.swiper-container#index-news-swiper
				//- 		.swiper-wrapper
				//- 			.swiper-slide
				//- 				img(src="./img/index/news-discount-image-1.jpg", alt="ƯU ĐÃI 40% HẤP DẪN ")
				//- 				.swiper-caption
				//- 					h3 ƯU ĐÃI 40% HẤP DẪN 
				//- 					h5 Mã số: 713.51.101
				//- 					h4 12.900.000đ
				//- 					p 25.900.000đ
				//- 			.swiper-slide
				//- 				img(src="./img/index/news-discount-image-1.jpg", alt="ƯU ĐÃI 40% HẤP DẪN ")
				//- 				.swiper-caption
				//- 					h3 ƯU ĐÃI 40% HẤP DẪN 
				//- 					h5 Mã số: 713.51.101
				//- 					h4 12.900.000đ
				//- 					p 25.900.000đ
				//- 			.swiper-slide
				//- 				img(src="./img/index/news-discount-image-1.jpg", alt="ƯU ĐÃI 40% HẤP DẪN ")
				//- 				.swiper-caption
				//- 					h3 ƯU ĐÃI 40% HẤP DẪN 
				//- 					h5 Mã số: 713.51.101
				//- 					h4 12.900.000đ
				//- 					p 25.900.000đ
				//- 	.swiper-button-prev.index-news-swiper-prev
				//- 	.swiper-button-next.index-news-swiper-next
			.col-12.col-lg-2
				.index-news-partner
					//- h2 Đối tác
					.swiper-container#index-news-partner-vertical
						.swiper-wrapper
							.swiper-slide
								img(src="./img/index/partner-logo-1.png", alt="PARTNER LOGO")
							.swiper-slide
								img(src="./img/index/partner-logo-2.png", alt="PARTNER LOGO")
							.swiper-slide
								img(src="./img/index/partner-logo-3.png", alt="PARTNER LOGO")
							.swiper-slide
								img(src="./img/index/partner-logo-3.png", alt="PARTNER LOGO")
							.swiper-slide
								img(src="./img/index/partner-logo-1.png", alt="PARTNER LOGO")
							.swiper-slide
								img(src="./img/index/partner-logo-2.png", alt="PARTNER LOGO")
							.swiper-slide
								img(src="./img/index/partner-logo-3.png", alt="PARTNER LOGO")
							.swiper-slide
								img(src="./img/index/partner-logo-3.png", alt="PARTNER LOGO")
