section.index-news
	.container
		.article-title-index
			h2 Tin tức - chương trình
		.row
			.col-md-6.col-lg-4
				.index-news-figure
					.figure
						h4 Vui đón tân xuân - Tri ân khách hàng
						a(href="#")
							.figure-image
								img(src="./img/index/news-image-1.jpg", alt="Ưu đãi khi mua sắm cùng Techcombank. Bạn được  giảm 40% khi mua khoá điện tử IMUNDEX...")
						p Ưu đãi khi mua sắm cùng Techcombank. Bạn được  giảm 40% khi vmua khoá điện tử IMUNDEX...
						.figure-link
							a(href="#")
								em.mdi.mdi-chevron-right
								a(href="#") Tri ân khách hàng từ 1/1/2019
						.figure-link
							a(href="#")
								em.mdi.mdi-chevron-right
								a(href="#") Tri ân khách hàng từ 1/1/2019
			.col-md-6
				.index-news-swiper
					h2 Khuyến mãi
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								img(src="./img/index/news-discount-image-1.jpg", alt="ƯU ĐÃI 40% HẤP DẪN ")
								.swiper-caption
									h3 ƯU ĐÃI 40% HẤP DẪN 
									h5 Mã số: 713.51.101
									h4 12.900.000đ
									p 25.900.000đ
							.swiper-slide
								img(src="./img/index/news-discount-image-1.jpg", alt="ƯU ĐÃI 40% HẤP DẪN ")
								.swiper-caption
									h3 ƯU ĐÃI 40% HẤP DẪN 
									h5 Mã số: 713.51.101
									h4 12.900.000đ
									p 25.900.000đ
							.swiper-slide
								img(src="./img/index/news-discount-image-1.jpg", alt="ƯU ĐÃI 40% HẤP DẪN ")
								.swiper-caption
									h3 ƯU ĐÃI 40% HẤP DẪN 
									h5 Mã số: 713.51.101
									h4 12.900.000đ
									p 25.900.000đ
					.index-news-swiper-prev
						span.mdi.mdi-chevron-left
					.index-news-swiper-next
						span.mdi.mdi-chevron-right
			.col-lg-2
				h2 Đối tác
				.index-news-partner
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.logo
									img(src="./img/index/partner-logo-1.png", alt="PARTNER LOGO")
							.swiper-slide
								.logo
									img(src="./img/index/partner-logo-2.png", alt="PARTNER LOGO")
							.swiper-slide
								.logo
									img(src="./img/index/partner-logo-3.png", alt="PARTNER LOGO")
							.swiper-slide
								.logo
									img(src="./img/index/partner-logo-3.png", alt="PARTNER LOGO")
							.swiper-slide
								.logo
									img(src="./img/index/partner-logo-3.png", alt="PARTNER LOGO")
