section.contact-information
	.row
		.col-12.col-lg-6
			.article-section-title
				h2 Địa chỉ văn phòng
			h4 HEAD OFFICE
			.contact-row
				em.mdi.mdi-home
				p 702/1K Sự Vạn Hạnh, F. 12, Q. 10, TP. HCM
			.contact-row
				em.mdi.mdi-phone
				p (848) 3862 5726
			.contact-row
				em.mdi.mdi-fax
				p (848) 3862 5727
			.contact-row
				em.mdi.mdi-email
				p support@ancuong.com
			.contact-row
				em.mdi.mdi-map
				a(href="#") Xem bản đồ
			h4 Factory outlet
			.contact-row
				em.mdi.mdi-map-marker
				p Đường ĐT 747B, khu phố Phước Hải, P.Thái Hòa, Thị xã Tân Uyên, T.Bình Dương
			.contact-row
				em.mdi.mdi-phone
				p (0650) 362 6282
			.contact-row
				em.mdi.mdi-fax
				p (0650) 362 6284
			.contact-row
				em.mdi.mdi-email
				p support@ancuong.com
			.contact-row
				em.mdi.mdi-map
				a(href="#") Xem bản đồ
			
		.col-12.col-lg-6
			.contact-image
				img(src="./img/lien-he/contact-image.jpg", alt="")
section.contact-form
	.article-section-title
		h2 Liên hệ với Imudex
	wrap-form
		.row
			.form-group.col-12.col-lg-6
				label Họ Tên
				input.form-control(type='text', aria-describedby='basic-addon3')
				span.input-group-text
			.form-group.col-12.col-lg-6
				label Điện thoại
				input.form-control(type='text', aria-describedby='basic-addon3')
				span.input-group-text
			.form-group.col-12.col-lg-6
				label email
				input.form-control(type='text', aria-describedby='basic-addon3')
				span.input-group-text
			.form-group.col-12.col-lg-6
				label tiêu đề
				input.form-control(type='text', aria-describedby='basic-addon3')
				span.input-group-text
			.form-group.col-12
				label tiêu đề
				textarea#inpputTextArea.form-control(rows='3')
				span.input-group-text
			.form-group.col-12
				.captcha-wrapper
					.captcha-wrapper-input
						label tiêu đề
						input.form-control(type='text', aria-describedby='basic-addon3')
						span.input-group-text
					.captcha-wrapper-submit
						.frm-btnwrap
							frm-btn
								input(type="submit",value='Gửi')