.contact-information
	padding: 35px 0 15px 0
	h4
		font-size: r(18px)
		font-family: 'Encode Sans'
		color: rgb(219, 176, 98)
		font-weight: bold
		line-height: r(25px)
		text-transform: uppercase
		font-weight: 600
		margin-bottom: 1rem
	.contact-image
		margin-top: 2.5rem
		img
			max-width: 100%
			height: auto
			width: 100%
	.contact-row
		margin-bottom: .5rem
		display: flex
		justify-content: flex-start
		align-items: flex-start
		em
			margin-right: .75rem
			color: #999999
		p
			font-size: r(15px)
			font-family: 'Encode Sans'
			color: rgb(51, 51, 51)
			line-height: r(23px)
			font-weight: 400
		a
			text-decoration: underline
			font-family: 'Encode Sans'
			font-size: r(15px)
			line-height: r(23px)
			font-weight: 400
			color: #dbb062
			margin-bottom: 1rem
	@media screen and(max-width:1600px)
		padding: 35px 0 0 0
		.contact-image
			margin-top: 2.2rem
		h4
			margin-bottom: .25rem
		.contact-row
			margin-bottom: .25rem
	@media screen and(max-width:1024px)
		padding: 15px 0 15px 0 
		h4
			font-size: r(16px)
		.contact-image
			margin-top: .5rem
		.contact-row
			p
				font-size: r(14px)
				line-height: r(22px)
			a
				font-size: r(14px)
				line-height: r(22px)
.contact-form
	padding: 0 0 35px 0
	.form-group
		display: flex
		justify-content: center
		align-items: flex-start
		flex-flow: column
		label
			margin-bottom: r(10px)
			font-size: r(15px)
			font-family: 'Encode Sans'
			color: rgb(51, 51, 51)
			line-height: r(23px)
			text-transform: uppercase
			font-weight: 400
		input
			width: 100%
			margin-bottom: r(13px)
			font-size: r(15px)
			padding: .6rem 2rem
			line-height: r(23px)
			border: 1px solid #ebebeb
			font-family: 'Encode Sans'
			color: rgb(51, 51, 51)
			font-weight: 400
			&:focus
				outline: none
		textarea
			padding: 1rem 2rem
			font-size: r(15px)
			font-family: 'Encode Sans'
			border: 1px solid #ebebeb
			color: rgb(51, 51, 51)
			line-height: r(23px)
			font-weight: 400
			width: 100%
			margin-bottom: 2rem
			&:focus
				outline: none
		span
			display: none
		.captcha-wrapper
			display: flex
			justify-content: center
			align-items: flex-end
			input[type=submit]
				padding: .6rem 4rem
				font-size: r(16px)
				background: #e6b135
				line-height: r(24px)
				font-family: "EncodeSans"
				color: rgb(51, 51, 51)
				font-weight: bold
				text-transform: uppercase

	@media screen and(max-width:1600px)
		.form-group
			input
				padding: .2rem 1rem
			.captcha-wrapper
				input[type=submit]
					padding: .2rem 4rem

	@media screen and(max-width:1024px)
		.form-group
			label
			font-size: r(14px)