section.contact-information
	.row
		.col-12.col-lg-6
			.article-section-title
				h2 Địa chỉ văn phòng
			address
				h4 HEAD OFFICE
				p
					em.mdi.mdi-home
					span 702/1K Sự Vạn Hạnh, F. 12, Q. 10, TP. HCM
				p
					em.mdi.mdi-phone
					span (848) 3862 5726
				p
					em.mdi.mdi-fax
					span (848) 3862 5727
				p
					em.mdi.mdi-email
					span support@ancuong.com
				p
					em.mdi.mdi-map
					a(href="#") Xem bản đồ
			address
				h4 Factory outlet
				p
					em.mdi.mdi-map-marker
					span Đường ĐT 747B, khu phố Phước Hải, P.Thái Hòa, Thị xã Tân Uyên, T.Bình Dương
				p
					em.mdi.mdi-phone
					span (0650) 362 6282
				p
					em.mdi.mdi-fax
					span (0650) 362 6284
				p
					em.mdi.mdi-email
					span support@ancuong.com
				p
					em.mdi.mdi-map
					a(href="#") Xem bản đồ
			
		.col-12.col-lg-6
			.contact-image
				img(src="./img/lien-he/contact-image.jpg", alt="")
section.contact-form
	.article-section-title
		h2 Liên hệ với Imudex
	.wrap-form
		.row
			.form-group.col-12.col-lg-6
				label Họ Tên
				input.form-control(type='text', aria-describedby='basic-addon3')
				span.input-group-text
			.form-group.col-12.col-lg-6
				label Điện thoại
				input.form-control(type='text', aria-describedby='basic-addon3')
				span.input-group-text
			.form-group.col-12.col-lg-6
				label email
				input.form-control(type='text', aria-describedby='basic-addon3')
				span.input-group-text
			.form-group.col-12.col-lg-6
				label tiêu đề
				input.form-control(type='text', aria-describedby='basic-addon3')
				span.input-group-text
			.form-group.col-12
				label tiêu đề
				textarea#inpputTextArea.form-control(rows='3')
				span.input-group-text
		.frm-btnwrap
			.frm-btn
				input(type="submit",value='Gửi')