section.product-manuals
	.row
		.col-12.col-sm-6
			.figure
				.figure-image.shine
					a(href="#")
						img(src="./img/thu-vien/library-image-1.jpg", alt=" Hướng dẫn sử dụng")
				.figure-caption
					a(href="#")
						p 26/04/2019
						h5 Tìm hiểu về INOX 304 và INOX 201
		.col-12.col-sm-6
			.figure
				.figure-image.shine
					a(href="#")
						img(src="./img/thu-vien/library-image-2.jpg", alt=" Hướng dẫn sử dụng")
				.figure-caption
					a(href="#")
						p 26/04/2019
						h5  KHUYẾN CÁO KHI SỬ DỤNG KHÓA IMUNDEX
		.col-12.col-sm-6
			.figure
				.figure-image.shine
					a(href="#")
						img(src="./img/thu-vien/library-image-3.jpg", alt=" Hướng dẫn sử dụng")
				.figure-caption
					a(href="#")
						p 26/04/2019
						h5 KHOÁ TRÒN 1 ĐẦU BẤM
		.col-12.col-sm-6
			.figure
				.figure-image.shine
					a(href="#")
						img(src="./img/thu-vien/library-image-4.jpg", alt=" Hướng dẫn sử dụng")
				.figure-caption
					a(href="#")
						p 26/04/2019
						h5 COMBO KHOÁ CỬA PHÒNG NGỦ
		.col-12.col-sm-6
			.figure
				.figure-image.shine
					a(href="#")
						img(src="./img/thu-vien/library-image-5.jpg", alt=" Hướng dẫn sử dụng")
				.figure-caption
					a(href="#")
						p 26/04/2019
						h5 COMBO KHOÁ CỬA TOILET
		.col-12.col-sm-6
			.figure
				.figure-image.shine
					a(href="#")
						img(src="./img/thu-vien/library-image-6.jpg", alt=" Hướng dẫn sử dụng")
				.figure-caption
					a(href="#")
						p 26/04/2019
						h5 ID VÀ MIFARE
		.col-12.col-sm-6
			.figure
				.figure-image.shine
					a(href="#")
						img(src="./img/thu-vien/library-image-7.jpg", alt=" Hướng dẫn sử dụng")
				.figure-caption
					a(href="#")
						p 26/04/2019
						h5 TÍNH TOÁN SỐ LƯỢNG PHỤ KIỆN
		.col-12.col-sm-6
			.figure
				.figure-image.shine
					a(href="#")
						img(src="./img/thu-vien/library-image-8.jpg", alt=" Hướng dẫn sử dụng")
				.figure-caption
					a(href="#")
						p 26/04/2019
						h5 COMBO KHOÁ CHO CỬA CHÍNH
