.sidebar-filter
	.row.no-gutters
		.col-12
			.filter-wrapper
				.filter-title
					h2 Lorem ipsum
					em.mdi.mdi-menu-down
				.filter-body
					.filter-input-wrapper
						.form-group
							input(type="text")
						.form-group
							input(type="text")
					.frm-btnwrap
						a(href="#").btn-ok Ok
	.row.no-gutters
		.col-12
			.filter-wrapper
				.filter-title
					h2 Lorem ipsum
					em.mdi.mdi-menu-down
				.filter-body
					.form-group.form-check
						input#check-1.form-check-input(type='checkbox')
						label.form-check-label(for='check-1') Check 1
					.form-group.form-check
						input#check-2.form-check-input(type='checkbox')
						label.form-check-label(for='check-2') Check 2
					.form-group.form-check
						input#check-3.form-check-input(type='checkbox')
						label.form-check-label(for='check-3') Check 3
					.form-group.form-check
						input#check-4.form-check-input(type='checkbox')
						label.form-check-label(for='check-4') Check 4
					
	.row.no-gutters
		.col-12
			.filter-wrapper
				.filter-title
					h2 Lorem ipsum
					em.mdi.mdi-menu-down
				.filter-body
					.form-group.form-check
						input#check-1.form-check-input(type='checkbox')
						label.form-check-label(for='check-1') Check 1
					.form-group.form-check
						input#check-2.form-check-input(type='checkbox')
						label.form-check-label(for='check-2') Check 2
					.form-group.form-check
						input#check-3.form-check-input(type='checkbox')
						label.form-check-label(for='check-3') Check 3
					.form-group.form-check
						input#check-4.form-check-input(type='checkbox')
						label.form-check-label(for='check-4') Check 4
						
	.row.no-gutters
		.col-12
			.filter-wrapper
				.filter-title
					h2 Lorem ipsum
					em.mdi.mdi-menu-down
				.filter-body
					.form-group.form-check
						input#check-1.form-check-input(type='checkbox')
						label.form-check-label(for='check-1') Check 1
					.form-group.form-check
						input#check-2.form-check-input(type='checkbox')
						label.form-check-label(for='check-2') Check 2
					.form-group.form-check
						input#check-3.form-check-input(type='checkbox')
						label.form-check-label(for='check-3') Check 3
					.form-group.form-check
						input#check-4.form-check-input(type='checkbox')
						label.form-check-label(for='check-4') Check 4
					