.sidebar-filter
	.row.no-gutters
		.col-12
			.filter-wrapper
				.filter-title
					h2 Lorem ipsum
					em.mdi.mdi-menu-down
				.filter-body
					.filter-input-wrapper
						.form-group
							input(type="text")
						.form-group
							input(type="text")
					.frm-btnwrap
						a(href="javascript:void(0)").btn-ok Ok
	.row.no-gutters
		.col-12
			.filter-wrapper
				.filter-title
					h2 Lorem ipsum
					em.mdi.mdi-menu-down
				.filter-body.filter-check
					.form-group.form-check.active
						a(href="javascript:void(0)") Check
					.form-group.form-check
						a(href="javascript:void(0)") Check
					.form-group.form-check
						a(href="javascript:void(0)") Check
					.form-group.form-check
						a(href="javascript:void(0)") Check
					
	.row.no-gutters
		.col-12
			.filter-wrapper
				.filter-title
					h2 Lorem ipsum
					em.mdi.mdi-menu-down
				.filter-body.filter-check
					.form-group.form-check
						a(href="javascript:void(0)") Check
					.form-group.form-check
						a(href="javascript:void(0)") Check
					.form-group.form-check
						a(href="javascript:void(0)") Check
					.form-group.form-check
						a(href="javascript:void(0)") Check
						
	.row.no-gutters
		.col-12
			.filter-wrapper
				.filter-title
					h2 Lorem ipsum
					em.mdi.mdi-menu-down
				.filter-body.filter-check
					.form-group.form-check
						a(href="javascript:void(0)") Check
					.form-group.form-check
						a(href="javascript:void(0)") Check
					.form-group.form-check
						a(href="javascript:void(0)") Check
					.form-group.form-check
						a(href="javascript:void(0)") Check
					