@function r($size)
	@return ($size/16px)*1rem

.article-section-title
	h2
		margin: r(30px) 0 r(20px) 0
		font-size: r(28px)
		font-family: 'Encode Sans'
		color: rgb(51, 51, 51)
		font-weight: bold
		line-height: r(35px)
	p
		font-size: r(14px)
		font-family: 'Encode Sans'
		color: rgb(153, 153, 153)
		line-height: r(22px)
		margin-top: r(-12px)
		font-weight: 400
	@media screen and(max-width: 1600px)
		h2
			font-size: r(24px)
			margin: r(25px) 0 r(15px) 0
.product-article-title
	display: flex
	justify-content: flex-start
	align-items: center
	background: #f2f2f2
	padding: 1rem r(22px)
	margin: r(14px) 0
	h2
		text-transform: uppercase
		font-size: r(20px)
		font-family: 'Encode Sans'
		color: rgb(51, 51, 51)
		font-weight: 600
		line-height: r(28px)
	@media screen and(max-width:992px)
		padding: .5rem 1rem
		h2
			font-size: r(16px)
.article-title-index
	display: flex
	justify-content: flex-start
	align-items: center
	background: #dbb062
	padding: 1rem r(22px)
	margin: r(14px) 0
	h2
		text-transform: uppercase
		font-size: r(20px)
		font-family: 'Encode Sans'
		color: rgb(51, 51, 51)
		font-weight: 600
		line-height: r(28px)

	@media screen and(max-width:992px)
		padding: .5rem 1rem
		h2
			font-size: r(16px)

.shine
	overflow: hidden
	position: relative
	&:before
		position: absolute
		top: 0
		left: -75%
		z-index: 2
		display: block
		content: ''
		width: 50%
		height: 100%
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%)
		background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%)
		-webkit-transform: skewX(-25deg)
		transform: skewX(-25deg)
	&:hover
		&:before
			-webkit-animation: shine .75s
			animation: shine .75s
			@-webkit-keyframes shine 
				100% 
					left: 125%
			@keyframes shine
				100% 
					left: 125%
.item
	margin-bottom: 10px
	&:not(:nth-child(4n+4))
		border-right: 10px solid #fff
	&:nth-child(4n+4)
		.figure
			padding-right: 10px
	.figure
		z-index: 99
		overflow: hidden
		position: relative
		-webkit-box-shadow: 1px 1px 3px 1px rgba(245,245,245,1)
		-moz-box-shadow: 1px 1px 3px 1px rgba(245,245,245,1)
		box-shadow: 1px 1px 3px 1px rgba(245,245,245,1)
		&:hover
			.item-cart
				bottom: 0
		.figure-image
			display: flex
			justify-content: center
			align-items: center
			height: r(272px)
			width: auto
			img
				max-width: 100%
				width: 100%
				height: 100%
				object-fit: scale-down
		.figure-caption
			margin-left: .5rem
			h4
				font-family: 'Encode Sans'
				color: #999999
				font-weight: 700
				font-size: r(14px)
				margin-bottom: .2rem
			p
				font-family: 'Encode Sans'
				color: #333333
				font-weight: 400v
				font-size: r(18px)
				margin-bottom: .8rem
			h5
				font-size: r(16px)
				font-family: 'Encode Sans'
				color: rgb(219, 176, 98)
				font-weight: bold
				padding-bottom: 1rem
		.item-cart
			transition: .3s all ease-in-out
			display: flex
			width: 100%
			position: absolute
			bottom: -3rem
			justify-content: center
			align-items: center
			a
				width: 100%
				padding: r(10px) 0
				background: #dbb062
				display: flex
				justify-content: center
				align-items: center
				em
					margin-right: .25rem
					color: #fff
				h3
					white-space: nowrap
					font-size: r(15px)
					font-family: 'Encode Sans'
					color: rgb(255, 255, 255)
					font-weight: bold
					text-transform: uppercase
