@function r($size)
	@return ($size/16px)*1rem

.product-filter-wrapper
	margin-top: 1rem
	.wrap-form
		-webkit-box-shadow: 0px 0px 0px 3px rgba(235,235,235,1)
		-moz-box-shadow: 0px 0px 0px 3px rgba(235,235,235,1)
		box-shadow: 0px 0px 0px 3px rgba(235,235,235,1)
		display: flex
		height: r(30px)
		justify-content: space-between
		align-items: center
		flex-flow: row
		.form-group
			&:first-child
				width: 100%
				position: relative
				&:after
					content: ''
					display: block
					position: absolute
					right: 0
					bottom: -2px
					width: 3px
					height: r(30px)
					background: rgba(235,235,235,1)
				input
					width: 100%
				
			input
				border: none
				padding: 1px 1rem
				font-size: r(14px)
				font-family: 'Encode Sans'
				line-height: r(22px)
				&::place-hodler
					font-size: r(14px)
					font-family: 'Encode Sans'
					line-height: r(22px)
					color: rgb(171, 171, 171)
				&:focus
					outline: none
			span
				display: none
		.frm-btnwrap
			display: flex
			justify-content: center
			align-items: center
			height: r(30px)
			padding: 0 r(14px)
			-webkit-box-shadow: 0px 0px 0px 3px rgba(235,235,235,1)
			-moz-box-shadow: 0px 0px 0px 3px rgba(235,235,235,1)
			box-shadow: 0px 0px 0px 3px rgba(235,235,235,1)
			background: -moz-linear-gradient( 0deg, rgb(226,171,73) 0%, rgb(234,204,150) 100%)
			background: -webkit-linear-gradient( 0deg, rgb(226,171,73) 0%, rgb(234,204,150) 100%)
			background: -ms-linear-gradient( 0deg, rgb(226,171,73) 0%, rgb(234,204,150) 100%)
			background: linear-gradient( 0deg, rgb(226,171,73) 0%, rgb(234,204,150) 100%)
			frm-btn
				display: flex
				justify-content: center
				align-items: center
				em
					color: #fff
				input[type="submit"]
					background: none
					border: none
					color: #fff
					font-size: r(15px)
					font-family: 'Encode Sans'
					&:focus
						outline: none

.article-title
	display: flex
	justify-content: flex-start
	align-items: center
	background: #dbb062
	padding: 1rem r(22px)
	margin-bottom: r(14px)
	h2
		text-transform: uppercase
		font-size: r(20px)
		font-family: 'Encode Sans'
		color: rgb(51, 51, 51)
		font-weight: bold
		line-height: r(28px)
	@media screen and(max-width:992px)
		padding: .5rem 1rem
		h2
			font-size: r(16px)