@function r($size)
	@return ($size/16px)*1rem
=line($line)
	display: -webkit-box
	text-overflow: ellipsis
	-webkit-line-clamp: $line
	overflow: hidden
	-webkit-box-orient: vertical
html,body
	
main
	margin-top: 30px
img
	max-width: 100%
	height: auto
a
	color: inherit
.h-100
	height: 100%
.Module-244,.Module-248,.Module-250,.Module-236
	.ModuleContent
		height: 100%
.Module-219,.Module-252
	width: 100%
.Module-248,.Module-250
	height: 100%
.Module-253
	position: sticky
	top: 40px
.article-section-title
	display: flex
	justify-content: space-between
	align-items: center
	h2
		margin: r(30px) 0 r(20px) 0
		font-size: r(28px)
		
		color: rgb(51, 51, 51)
		font-weight: bold
		line-height: r(35px)
	p
		font-size: r(14px)
		
		color: rgb(153, 153, 153)
		line-height: r(22px)
		margin-top: r(-12px)
		font-weight: 400
	@media screen and(max-width: 1600px)
		h2
			font-size: r(24px)
			margin: r(25px) 0 r(15px) 0
.product-article-title
	display: flex
	justify-content: flex-start
	align-items: center
	background: #f2f2f2
	padding: 1rem r(22px)
	margin: r(14px) 0
	h2
		text-transform: uppercase
		font-size: r(20px)
		
		color: rgb(51, 51, 51)
		font-weight: 600
		line-height: r(28px)
	@media screen and(max-width:992px)
		padding: .5rem 1rem
		h2
			font-size: r(16px)
.article-title-index
	display: flex
	justify-content: flex-start
	align-items: center
	background: #c6cbcc
	padding: 1rem r(22px)
	margin: r(14px) 0
	height: 41px
	h2
		text-transform: uppercase
		font-size: r(16px)
		color: #333
		font-weight: 600
		line-height: r(28px)

	@media screen and(max-width:992px)
		padding: .5rem 1rem
		h2
			font-size: r(16px)

.shine
	overflow: hidden
	position: relative
	&:before
		position: absolute
		top: 0
		left: -75%
		z-index: 2
		display: block
		content: ''
		width: 50%
		height: 100%
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%)
		background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%)
		-webkit-transform: skewX(-25deg)
		transform: skewX(-25deg)
	&:hover
		&:before
			-webkit-animation: shine .75s
			animation: shine .75s
			@-webkit-keyframes shine 
				100% 
					left: 125%
			@keyframes shine
				100% 
					left: 125%
.item
	margin-bottom: 10px
	.figure
		z-index: 99
		overflow: hidden
		position: relative
		box-shadow: 1px 1px 3px 1px rgba(245,245,245,1)
		&:hover
			.item-cart
				bottom: 0
		.figure-image
			display: flex
			justify-content: center
			align-items: center
			height: r(272px)
			width: auto
			padding: 30px
			img
				width: 100%
				height: 100%
				object-fit: contain
		.figure-caption
			margin-left: .5rem
			h4
				
				color: #999999
				font-weight: 700
				font-size: r(14px)
			p
				
				color: #333333
				font-weight: 400
				font-size: r(16px)
				margin-bottom: .8rem
				+line(1)
			h5
				font-size: r(14px)
				height: 53px
				color: $main
				font-weight: bold
				padding-bottom: 1rem
		.item-cart
			transition: .3s all ease-in-out
			display: flex
			width: 100%
			position: absolute
			bottom: -100%
			justify-content: center
			align-items: center
			height: 53px
			a
				width: 100%
				padding: r(10px) 0
				background: $main
				display: flex
				justify-content: center
				align-items: center
				em
					margin-right: .25rem
					color: #fff
				span
					white-space: nowrap
					font-size: r(15px)
					
					color: rgb(255, 255, 255)
					font-weight: bold
					text-transform: uppercase
	@media (max-width: 768px)
		.figure
			.figure-image
				height: 180px
				img
					max-height: 10rem
			.item-cart
				position: static
				span
					display: none
	@media (max-width: 576px)
		.figure
			.figure-image
				height: 180px
				img
					max-height: 6rem
.jssocials-share-logo
		font-size: 18px
.jssocials-share-label
	font-size: 15px
.jssocials-share-link
	display: flex
	align-items: center
	@media (max-width: 768px)
		width: 37px
.jssocials-share-pinterest,.jssocials-share-email
	.jssocials-share-label
		display: none
.productdetailpager
	display: none
.maps_popup
	.fax
		margin-bottom: 8px
	a
		font-size: 18px
		text-decoration: underline
		color: $main
		+ a
			margin-left: 5px