section.about-us
	.row
		.col-md-6
			.article-section-title
				h2 Tập đoàn Feddersen
			article
				p Tập đoàn Feddersen được thành lập năm 1949 tại Đức, kinh doanh nhiều lĩnh vực khác nhau như hoá chất, thép, sản phẩm kỹ thuật cao ... trên toàn cầu.
				p Kể từ khi được thành lập vào năm 1985, K.D. Feddersen Holding GmbH sở hữu tất cả các công ty thuộc Tập đoàn Feddersen.
				p Với các chi nhánh và công ty con trên toàn thế giới, Các đối tác của Tập đoàn Fedderse là những nhà sản xuất hàng đầu về hóa chất, nguyên liệu... Ngoài hoạt động kinh doanh ngoại thương, Tập đoàn Feddersen còn nắm giữ thị  phần phân phối nhựa, thép và cơ khí ở châu Âu và châu Á 
				.article-qoutes
					h4 Acting on behalf of people – acting through global trade
					h3  - Karl Detlef Feddersen -  
		.col-md-6
			.about-us-image
				img(src="./img/gioi-thieu/introduce-image.png", alt="Tập đoàn Feddersen")
section.field-of-business
	.article-section-title
		h2 Lĩnh vực kinh doanh
	.fancy-wrapper
		a(data-fancybox='gallery', href='./img/gioi-thieu/chart-image.png')
			img(src='./img/gioi-thieu/chart-image.png')
	h5 Mô hình hoạt động được phân chia rõ ràng và đánh mạnh theo từng khối lãnh vực 
	p Tập đoàn Feddersen hiện đang nắm giữ các vị trí quan trong trong lãnh vực sản xuất nhựa, nguyên liệu, hoá chất, thép, và các sản phẩm kỹ thuật cao
	.row.card-wrapper
		.col-md-4
			.card
				.card-image
					img(src="./img/gioi-thieu/about-icon-1.png", alt="")
				.card-caption
					h5 Nhân viên
					p Nhân viên Hơn 800 nhân viên trên khắp thế giới 
		.col-md-4
			.card
				.card-image
					img(src="./img/gioi-thieu/about-icon-2.png", alt="")
				.card-caption
					h5 Chi nhánh và Văn phòng đại diện
					p Trên 16 chi nhánh và công ty con trên toàn thế giới 

		.col-md-4
			.card
				.card-image
					img(src="./img/gioi-thieu/about-icon-3.png", alt="")
				.card-caption
					h5 Tổng doanh số năm 2016
					p Hơn 100.000.000 đôla
section.global-network
	.article-section-title
		h2 HỆ thống toàn cầu
	.fancy-wrapper
		a(data-fancybox='gallery', href='./img/gioi-thieu/chart-map.png')
			img(src='./img/gioi-thieu/chart-map.png')
	.row
		.col-md-4
			h3 Văn phòng chính
		.col-8
			p K.D.Feddersen Holding GmbH
			p K.D.Feddersen GmbH & Co. KG
			p K.D.Feddersen & Co. Ueberseegesellschaft mbH
			p GotenstraBe 11 A, 20097 Hamburg, Germany
			P.hq Phone: 
				span +49 40 23507 01
				|-  Fax: +49 40 23507 250 -  E-mail:
				a(href="#") info@kdfeddersen.com
	.row
		.col-sm-6.col-md-4.address-item
			h4 AUSTRIA
			p K.D.Feddersen CEE GmbH
			p MariahiferstraBe 103/4/62b
			p 1060 Vienna
			p Phone
				span +43 1 786140011
			p E-mail: info.at@kdfeddersen.com
		.col-sm-6.col-md-4.address-item
			h4  AUSTRIA
			p Sakina Maketing Aust P/L
			p 18Benson Rd
			p Beaumont Hills NSW 2155
			p Phone: 
				span +61 2 8824 6140
			p E-mail: info.au@kdfeddersen.com
		.col-sm-6.col-md-4.address-item
			h4 BRAZIL
			p K.D.Feddersen do Brazil Ltda.
			p 10º Andar-Brooklin Paulista Ctjo. 104/105 
			p Cep 04621 -000-Sao Paulo-SP
			p Phone: 
				span +55 11 5542 – 4921
			p E-mail: info.br@kdfeddersen.com
		.col-sm-6.col-md-4.address-item
			h4 CHINA
			p K.D.F Distribution (Shanghai) Co., Ltd.
			p 9th Floor, 1 Grand Gateway 
			p No.1 Hong Qiao Rd, Shanghai 200030”
			p Phone: 
				span +86 21 6407 3666 
			p E-mail: info.cn@kdfeddersen.com
		.col-sm-6.col-md-4.address-item
			h4 denMARK
			p K.D.Feddersen Norden AB 
			p Helgavej 24 
			p 3060 Espergaerde
			p Phone: 
				span +45 22863873  
			p E-mail: info.se@kdfeddersen.com
		.col-sm-6.col-md-4.address-item
			h4 FINLAND
			p K.D.Feddersen Norden AB
			p Louhentie 13 E 33
			p FIN 02130 ESPOO
			p Phone: 
				span +358 40 719 3020
			p E-mail: info.se@kdfeddersen.com
		.col-sm-6.col-md-4.address-item
			h4 france
			p K.D.Feddersen GmbH & Co.KG 
			p 6, rue Jean Jaurès
			p 92807 Puteaux ( Paris)
			p Phone: 
				span +33 1 4906 2642
			p E-mail: info.fr@kdfeddersen.com
		.col-sm-6.col-md-4.address-item
			h4 indonesia
			p K.D.Fedderse & Co. Ueberseegeseschaft
			p JI. Rawa Kepiting No.2
			p Pulo Gadung Inds Estate, Jakarta 13920
			p E-mail: info.id@kdfeddersen.com
		.col-sm-6.col-md-4.address-item
			h4 MEXICO
			p K.D.Fedderse & Co. Ueberseegeseschaft mbH
			p Av.Satan Fé 170, Centro Alemán, oficina 5.2.1
			p CP 01210, Mexico D.F.
			p Phone: 
				span + 52 5591 729-325
			p E-mail: infomx.@kdfeddersen.com
		.col-sm-6.col-md-4.address-item
			h4 NORWAY
			p K.D.Feddersen Norden AB
			p Box 137 / Lundbyvagen 11
			p 331 21 Varnamo
			p Phone: 
				span + 46 370 30 37 00 
			p E-mail: info.se@kdfeddersen.com
		.col-sm-6.col-md-4.address-item
			h4 PHILIPpines
			p Hamburg Trading Corporation 
			p 9th Floor, Ramon Magsaysay Center
			p 1680 Roxas Boulevard Manila
			p Phone: 
				span +63 2 521 89 06/ 07
			p E-mail: info.ph@kdfeddersen.com
		.col-sm-6.col-md-4.address-item
			h4 SWEDEN
			p K.D.Feddersen Norden AB
			p Box 137/ Lundbyvagen 11
			p 331 21 Varnamo
			p Phone: 
				span +46 370 30 37 00 
			p E-mail: info.se@kdfeddersen.com
		.col-sm-6.col-md-4.address-item
			h4 TAIWAN
			p KDF Taipei  -  
			p 12 Donmin Street Lane 108 Nankang 11553
			p Taipei/ Taiwan ROC
			p Phone: 
				span  +886 (2) 27857790
			p E-mail: info.tw@kdfeddersen.com
		.col-sm-6.col-md-4.address-item
			h4 thailand
			p T.N.V. Corporation Co., Ltd.
			p 108/135 Moo1, Bangkadee Rd., Samaedam,
			p Bangkuntien,, Bangkok 10150
			p Phone: 
				span +66 2 452 1680
			p E-mail: info.th@kdfeddersen.com
		.col-sm-6.col-md-4.address-item
			h4 united kingdom
			p K.D.Feddersen UK Ltd.
			p Venture Point, Towers Bussiness Park 
			p Rugeley, Staffordshire, WS15 1UZ
			p Phone: 
				span +44(0) 1889 580212 
			p E-mail: info.uk@kdfeddersen.com
	