section.product-detail
	.container
		.row.no-gutters
			.col-9.product-detail-swiper
				.swiper-container#swiper-product-top
					.swiper-wrapper
						.swiper-slide
				h5 Lưu ý: Hình ảnh có thể là của một sản phẩm tương tự.
				.swiper-container#swiper-product-thumbs
					.swiper-wrapper
						.swiper-slide
			.col-3.product-detail-information
				h2 Khóa điện tử
				h3
				.row
					.col-4
					.col-8
				.row
					.col-3
						h4 Mã số
					.col-9
						h5 713.11.100
				.row
					.col-3
						h4 
					.col-9
						p Inox 304
				.row
					.col-3
						h4 
					.col-9
						p Khóa điện tử
				.row
					.col-3
						h4 
					.col-9
						p Mật mã, thẻ và chìa
				.row
					.col-3
						h4 
					.col-9
						p 200 mật mã, 800 thẻ và 2 chìa cơ
				.row
					.col-3
						h4 
					.col-9
						p Có chức năng ẩn mã số
						p Khóa đơn hoặc kép
						p Thân khóa chống phá và cắt
				.row
					.col-3
						h4 
					.col-9
						p Biệt thự, căn hộ, văn phòng.. với độ dày cửa38-52 mm