section.news-detail
	.article-section-title
		h2 Tin tức
		p 26/04/2019
	article
		img(src="./img/tin-tuc-ct/news-detail-image-1.jpg", alt="Khóa cửa thẻ từ Imundex")
		h4 Khóa cửa thẻ từ Imundex
		p Khóa cửa thẻ từ Imundex là thương hiệu khóa cửa Đức, thuộc tập đoàn Feddersen và được phân phối chính thức tại Việt Nam bởi công ty cổ phần gỗ An Cường từ năm 2016.
		p Tuy chỉ mới xuất hiện tại thị trường Việt Nam, nhưng khóa cửa thẻ từ Imundex đã khẳng định được vị thế cửa mình bởi những ưu điểm vượt trội mà không ai có thể chối cãi được.
		h5 Khóa cửa thẻ từ Imundex được thiết kế và sản xuất theo tiêu chuẩn của Đức
		p -  Khóa được thiết kế thông minh về cả cơ khí và công nghệ trên dây chuyền sản xuất và công nghệ hoàn toàn của Đức.
		p -  Kiểu dáng hiện đại, sang trọng nhưng vô cùng tinh tế theo phong cách Châu Âu.
		h5 Tích hợp công nghệ mở khóa tiên tiến, hiện đại
		p Khóa cửa thẻ từ Imundex không những có thể mở khóa bằng công nghệ thẻ từ mà còn có thể mở khóa bằng vân tay, mật mã và chìa cơ, giúp người sử dụng dễ dàng và linh động hơn trong việc lựa chọn phương pháp tốt nhất. Đặc biệt, với một số dòng khóa cửa Imundex có thể lưu được 200 mật mã và 800 thẻ từ, một con số đáng kinh ngạc và rất hữu dụng cho các đơn vị tổ chức có nhiều người ra vào.
		img(src="./img/tin-tuc-ct/news-detail-image-2.jpg", alt="Khóa cửa thẻ từ Imundex")
		h5 Khóa cửa thẻ từ mang lại sự tiện lợi và bảo vệ an toàn cho gia đình bạn
		p Việc mở cửa tốn rất ít lực khi cửa thẻ từ Imundex được được tích hợp dàn cơ mở cửa tự động. Khi bạn nhập đúng mật mã, quét đúng thẻ từ hoặc quét đúng vân tay, cửa sẽ tự động mở chốt và bạn dễ dàng đẩy cửa vào và chỉ tốn một nửa lực so với dùng ổ khóa thông thường. Chính vì vậy, việc mở cửa cũng trở nên rất dễ dàng và không trở nên khó khăn với trẻ nhỏ và những người lớn tuổi.
		p Khóa cửa thẻ từ Imundex có khả năng tự động đóng cửa nên sẽ không bao giờ có trường hợp quên khóa cửa nhà.
		p Bên cạnh đó, khóa cửa thẻ từ Imundex có khả năng chống cháy, chống cắt và báo động khi có bất cứ hành động xâm hại hoặc bất thường nào. Có thể nói khóa cửa Imundex là người hùng bảo vệ thầm lặng cho chính gia đình bạn
		h4 Khóa cửa thẻ từ Adel
		p Khóa cửa thẻ từ Adel là thương hiệu xuất phát từ Mỹ, được gia công ở Trung Quốc nhưng vẫn đảm bảo chất lượng như nguyên bản. Khóa được làm từ các hợp kim cao cấp chống trầy xước, rỉ sét, va đập, mang lại sự chắc chắn, an toàn cao. Khóa có các phương thức mở cửa bằng vân tay, bấm số, thẻ từ cho bạn thoải mái lựa chọn với giá thành không quá đắt đỏ, hợp với nhu cầu của đa số người dùng ệt Nam.
		h4 Khóa cửa thẻ từ Samsung
		p Samsung là thương hiệu đình đám đến từ Hàn Quốc nên không có gì phải bàn cãi về thiết kế và chất lượng sản phẩm. Hàn Quốc là quốc gia có thế mạnh về công nghệ nên hãng khóa này cũng sở hữu nhiều tính năng nổi bật hơn so với các loại khóa khác. Thiết kế sang trọng, tinh tế và bắt mắt cũng là một thế mạnh lớn của hãng khóa này.
		img(src="./img/tin-tuc-ct/news-detail-image-3.jpg", alt="Khóa cửa thẻ từ Imundex")
		h4 Khóa cửa thẻ từ Yale
		p Với gần 100 năm xây dựng và trưởng thành thì việc khóa cửa thẻ từ Yale chiếm thị phần rất lớn trên thị trường khóa thẻ từ là điều không hề khó lý giải. Khóa cửa Yale có công nghệ bảo mật cao, làm từ những vật liệu tiêu chuẩn: hệ thống chuyển động chống mài mòn, ruột bằng hợp kim chống gỉ, chốt khóa chống cắt, thân khóa bằng hợp kim nguyên khối chịu lực… Khóa Yale còn có những tính năng thông minh và hữu ích, mang lại những trải nghiệm tốt nhất cho người dùng.
		.social-network
	.news-display
		.product-article-title
			h2 Tin tức khác
		.row
			.col-6.news-item
				.figure
					.figure-image.shine
						img(src="./img/tin-tuc/news-image-2.jpg", alt="AN CƯỜNG GÂY ẤN TƯỢNG MẠNH CHO ĐẾN NGÀY CUỐI CÙNG TẠI VIETBUILD")
					.figure-caption
						p 26/04/2019
						h5 AN CƯỜNG GIỚI THIỆU NEW SHOW GALLERY & DESIGN CENTER TẠI PHÚ MỸ HƯNG - HAPPY VALLEY BLOCK A
			.col-6.news-item
				.figure
					.figure-image.shine
						img(src="./img/tin-tuc/news-image-3.jpg", alt="AN CƯỜNG GÂY ẤN TƯỢNG MẠNH CHO ĐẾN NGÀY CUỐI CÙNG TẠI VIETBUILD")
					.figure-caption
						p 26/04/2019
						h5 AN CƯỜNG GIỚI THIỆU NEW SHOW GALLERY & DESIGN CENTER TẠI PHÚ MỸ HƯNG - HAPPY VALLEY BLOCK A