extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'home-page'

block main
	// Includes components here
	.container
		include ../components/product-filter/index.pug
		include ../components/breadcrumb/index.pug
		include ../components/nav/index.pug
		.article-section-title
			h2 Hướng dẫn sử dụng
		include ../components/huong-dan/index.pug