extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'home-page'

block main
	.container
		.row
			.col-4
				//- include ../components/index/sidebar-index/index.pug
			.col-8
				.row.no-gutters
					.col-12
						//- include ../components/product-filter/index.pug
					.col-12
						//- include ../components/index/index-swiper/index.pug
	//- include ../components/index/index-news/index.pug
	//- include ../components/index/index-project/index.pug
	//- include ../components/index/index-guide/index.pug