extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'home-page'

block main
	// Includes components here
	.container
		include ../components/product-filter/index.pug 
		include ../components/san-pham-ct/index.pug
		include ../components/product-slide/index.pug
		include ../components/product-slide/index.pug
