section.project-detail
	.container
		.row
			.col-12.col-md-6
				.row
					.col-4
						h4 Chủ đầu tư
					.col-8
						p Keppel Land
				.row
					.col-4
						h4 Vị trí
					.col-8
						p Song Hang, Nam rạch Chiếc, P.An Phú 
				.row
					.col-4
						h4 Loại hình
					.col-8
						p Căn hộ/ Cao ốc văn phòng
				.row
					.col-4
						h4 chia sẻ
					.col-8.social-network-wrapper
						.social-network
							.fb-like(data-href='https://developers.facebook.com/docs/plugins/', data-width='', data-layout='button', data-action='like', data-size='mdall', data-show-faces='false', data-share='true')
						.social-network
							a.twitter-follow-button(href='https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw', data-show-screen-name='false', data-dnt='true', data-show-count='false') Follow @TwitterDev
			.col-12.col-md-6
				.row
					.col-4
						h4 Qui mô
					.col-8
						p 816 căn hộ 
				.row
					.col-4
						h4 Tiến độ
					.col-8
						p Mock-up
				.row
					.col-4
						h4 Tình trạng
					.col-8
						p Dự kiến hoàn thành năm 2019
		.row
			.col-12
				ul.project-detail-nav
					li.active
						a(href="#")
							em.mdi.mdi-folder-multiple-image
							p Hình ảnh
					li
						a(href="#")
							em.mdi.mdi-play
							p Video Clip
		.row.project-nav-item
			.swiper-container.swiper-project-detail
				.swiper-wrapper
					.swiper-slide
						img(src="./img/du-an-ct/project-image-detail.jpg", alt="Palm City Quận 2")
					.swiper-slide
						img(src="./img/du-an-ct/project-image-detail.jpg", alt="Palm City Quận 2")
					.swiper-slide
						img(src="./img/du-an-ct/project-image-detail.jpg", alt="Palm City Quận 2")
				.swiper-navigation.swiper-project-deatil-prev
					em.mdi.mdi-chevron-left
				.swiper-navigation.swiper-project-deatil-next
					em.mdi.mdi-chevron-right
		.row.project-nav-item

