section.project-detail
	.article-section-title
		h2 Palm City quận 2
	.attribute-list
		.row
			.col-sm-6
				.row
					.col-4
						h4 Chủ đầu tư
					.col-8
						p Keppel Land
			.col-sm-6
				.row
					.col-4
						h4 Chủ đầu tư
					.col-8
						p Keppel Land
			.col-sm-6
				.row
					.col-4
						h4 Chủ đầu tư
					.col-8
						p Keppel Land
			.col-sm-6
				.row
					.col-4
						h4 Chủ đầu tư
					.col-8
						p Keppel Land
	ul.project-detail-nav
		li.active
			a(href="#")
				em.mdi.mdi-folder-multiple-image
				p Hình ảnh
		li
			a(href="#")
				em.mdi.mdi-play
				p Video Clip
	.swiper-project-detail
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.img-block
						img(src="./img/du-an-ct/project-image-detail.jpg", alt="Palm City Quận 2")
				.swiper-slide
					.img-block
						img(src="./img/du-an-ct/project-image-detail.jpg", alt="Palm City Quận 2")
				.swiper-slide
					.img-block
						img(src="./img/du-an-ct/project-image-detail.jpg", alt="Palm City Quận 2")
		.swiper-navigation.swiper-project-detail-prev
			em.mdi.mdi-chevron-left
		.swiper-navigation.swiper-project-detail-next
			em.mdi.mdi-chevron-right
	.other-project
		.product-article-title
			h2 Dự án khác
		.row
			.col-sm-6
				.figure
					.figure-image.shine
						img(src="./img/du-an/project-image-1.jpg", alt="Aquabay Ecopark")
					.figure-caption
						h5 Aquabay Ecopark
						p
							em.mdi.mdi-map-marker
							span Vị trí: Số 25-26, Đường Phạm Văn Đồng, Vĩnh Hải, Tp. Nha Trang, Khánh Hòa
						p
							em.fas.fa-suitcase
							span Loại hình: Căn hộ/ Cao ốc văn phòng
