.product-filter-wrapper
	.filter-product-form
		.form-group
			input.form-control(type='text', aria-describedby='emailHelp', placeholder='Tìm kiếm sản phẩm - danh mục')
			span Helper message
		.form-group
			input.form-control(type='text', aria-describedby='emailHelp', placeholder='Nhập mã sản phẩm')
			span Helper message
		.cart
			.cart-toggle
				em.mdi.mdi-cart
				.amount-wrapper
					span.text Giỏ hàng 
					span.amount (02)