.product-filter-wrapper
	wrap-form.filter-product-form
		.form-group
			input#inputProduct.form-control(type='text', aria-describedby='emailHelp', placeholder='Tìm kiếm sản phẩm - danh mục')
			span Helper message
		.form-group
			input#inputProduct.form-control(type='text', aria-describedby='emailHelp', placeholder='Nhập mã sản phẩm')
			span Helper message
		.frm-btnwrap
			frm-btn
				em.mdi.mdi-cart
				input(type="submit",value= "Giỏ hàng (02)")