.sidebar-index
	.sidebar-index-wrappper
		list-style-type: none
		margin: 0
		padding: 0
		background: #f2f2f2
		> li
			border-bottom: 1px solid rgba(#fafafa,1)
			> a
				&:hover
					font-weight: 700
					color: #fff
					background: $main
			&.active
				> a
					font-weight: 700
					color: #fff
					background: $main
			&.have-children
				position: relative
				&.active
					ul
						display: block !important
				ul
					li
						border-bottom: 0
						a
							&:hover
								color: $main
						&.active
							a
								font-weight: 700
								color: $main
			a
				position: relative
				display: block
				color: #333333
				text-decoration: none
				padding: 16.9px 22px
				font-size: r(15px)
				font-weight: 400
				line-height: r(22px)
				
			ul
				list-style-type: none
				display: none
				margin: 0
				padding: 0
				li
					border-bottom: 1px solid rgba(#b6bdc7,1)
					padding-left: 15px
		@media (max-width:1600px)
			li
				a
					font-size: r(14px)
					padding: r(18px) r(22px)
					line-height: r(20px)
		@media (max-width:1025px)
			display: none
	.sidebar-toggle
		display: flex
		align-items: center
		background: $main
		color: #fff
		.mdi
			font-size: 24px
			width: 36px
			height: 36px
			display: flex
			justify-content: center
			align-items: center
			line-height: 1
		.text
			display: block
			margin-left: 15px
		@media (min-width: 1025px)
			display: none