
.an-cuong-header
	.top-nav-wrapper
		margin: 1rem 0
		display: flex
		justify-content: space-between
		align-items: center
		.navbar-social-network
			display: flex
			justify-content: center
			align-items: center
			margin-left: auto
			a
				display: block
				margin-right: 8px
		.language-select
			margin-left: 1rem
	.bottom-nav-wrapper
		.bottom-nav-horizontal
			list-style: none
			margin: 0
			padding: 0
			li
				display: inline
				&.active,&:hover
					> a
						background: #c6cbcc
						transition: 0.3s all
						color: #fff
				a
					transition: 0.3s all
					display: inline-flex
					justify-content: center
					align-items: center
					padding: r(5px) r(25px) r(5px) r(25px)
					font-size: r(16px)
					font-weight: 500
					color: rgb(51, 51, 51)
					line-height: r(24px)
					text-transform: uppercase
					p
						&::first-letter
							text-transform: uppercase
				&.has-sub
					position: relative
					&:before
						position: absolute
						content: ''
						width: 100%
						height: 10px
						top: 100%
						left: 0
					.sub-menu
						position: absolute
						top: calc(100% + 10px)
						left: 0
						width: 100%
						min-width: 250px
						padding-left: 0
						background: #dbdbdb
						z-index: 50
						display: none
						li
							+ li
								a
									border-top: 1px solid #e1e1e1
							a
								display: block
								width: 100%
								font-size: 14px
							&:hover,&.active
								a
									background: $main
									color: #fff
					&:hover
						.sub-menu
							display: block
		@media (max-width: 1025px)
			.bottom-nav-horizontal
				white-space: nowrap
				overflow-x: auto
