header
	section.an-cuong-header
		.container
			.top-nav-wrapper
				.navbar-brand
					img(src="./img/index/logo.png", alt="An cuong logo")
				.navbar-social-network
					.social-network-button
						.fb-like(data-href='https://developers.facebook.com/docs/plugins/', data-width='', data-layout='button', data-action='like', data-size='small', data-show-faces='false', data-share='true')
					.social-network-button
						a.twitter-follow-button(href='https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw', data-show-screen-name='false', data-dnt='true', data-show-count='false') Follow @TwitterDev
					.social-network-button
						img(src="./img/index/wapp-2.png", alt="Whatsapp icon")
					.language-select
						img(src="./img/index/us.png", alt="#")
			.bottom-nav-wrapper
				ul.bottom-nav-horizontal
					li.active
						a(href="#") Sản phẩm
					li
						a(href="#") Dự án
					li
						a(href="#") Hệ thống bán hàng
					li
						a(href="#") tin tức
					li
						a(href="#") thư viện
					li
						a(href="#") liên hệ
					li
						a(href="#") giới thiệu

