header
	section.an-cuong-header
		.container
			.top-nav-wrapper
				.navbar-brand
					img(src="./img/index/logo.png", alt="An cuong logo")
				.navbar-social-network
					a(href="#")
						img(src="./img/facebook.png")
					a(href="#")
						img(src="./img/twitter.png")
					a(href="#")
						img(src="./img/whatsapp.png")
				.language-select
					img(src="./img/us.png", alt="#")
			.bottom-nav-wrapper
				ul.bottom-nav-horizontal
					li.active
						a(href="#") Sản phẩm
					li
						a(href="#") Dự án
					li
						a(href="#") Hệ thống bán hàng
					li
						a(href="#") tin tức
					li
						a(href="#") thư viện
					li
						a(href="#") liên hệ
					li
						a(href="#") giới thiệu

