
.an-cuong-header
	.top-nav-wrapper
		margin: 1rem 0
		display: flex
		justify-content: space-between
		align-items: center
		.navbar-social-network
			display: flex
			justify-content: center
			align-items: center
			.social-network-button
				display: flex
				justify-content: center
				align-items: center
				margin-right: .5rem
				&:nth-child(2)
					margin-bottom: -.2rem
				img
					width: r(24px)
					height: r(24px)
			.language-select
				margin-left: 1rem
				img
					width: r(32px)
	.bottom-nav-wrapper
		.bottom-nav-horizontal
			list-style: none
			margin: 0
			padding: 0
			li
				display: inline
				&.active
					a
						background: #dbb062
					
				a

					display: inline-flex
					justify-content: center
					align-items: center
					padding: r(5px) r(25px) r(5px) r(25px)
					font-size: r(16px)
					font-weight: 500
					font-family: "Encode Sans"
					color: rgb(51, 51, 51)
					text-transform: uppercase
					line-height: r(24px)
