section.index-guide-catalogue
	.container
		.article-title-index
			h2 Hướng Dẫn - Catalogue
		.row
			.col-lg-6
				.index-guide-video
					.guide-video-wrapper
						a(data-fancybox, href='https://www.youtube.com/watch?v=9rBnl0q_k7I')
							h2 Video Youtube
							img(src='./img/index/guide-video-1.jpg')
							h5 Hướng dẫn sử dụng khóa điện tử 
				.row.no-gutters
					.col-4.guide-video-sub
						a(data-fancybox, href='https://www.youtube.com/watch?v=9rBnl0q_k7I')
							img(src='./img/index/guide-video-2.jpg')
					.col-4.guide-video-sub
						a(data-fancybox, href='https://www.youtube.com/watch?v=9rBnl0q_k7I')
							img(src='./img/index/guide-video-3.jpg')
					.col-4.guide-video-sub
						a(data-fancybox, href='https://www.youtube.com/watch?v=9rBnl0q_k7I')
							img(src='./img/index/guide-video-4.jpg')
			.col-lg-6
				.row.h-100
					.col-md-6
						.index-guide-swiper-wrapper
							h3 catalouge - bảng giá
							.swiper-container
								.swiper-wrapper
									.swiper-slide
										img(src="./img/index/catalogue-price.png", alt="Bảng giá 2019")
									.swiper-slide
										img(src="./img/index/catalogue-price.png", alt="Bảng giá 2019")
							.navigation-wrapper
								.swiper-catelogue-prev
									em.mdi.mdi-arrow-left
								.swiper-catelogue-next
									em.mdi.mdi-arrow-right
					.col-md-6
						.index-guide-contact
							.figure
								.figure-image
									img(src="./img/index/catalogue-support.png", alt="")
									.figure-caption-wrapper
										h2 Dịch vụ khách hàng
										.figure-caption
											.caption-icon
												em.fas.fa-phone-volume
											h5 (84.28) 3862 5726
										.figure-caption
											.caption-icon
												em.fas.fa-envelope-open
											p suppoer@ancuong.com
						.index-guide-contact
							.figure
								.figure-image
									img(src="./img/index/catalogue-support.png", alt="")
									.figure-caption-wrapper
										h2 Hỗ trợ - kĩ thuật
										h2 bảo hành
										.figure-caption
											.caption-icon
												em.fas.fa-phone-volume
											h5 (84.28) 3862 5726