.index-guide-catalogue
	padding-bottom: 30px
	.guide-video-sub
		position: relative
		overflow: hidden
		&:not(:last-child)
			border-right: 3px solid #fff
		&:hover
			&:before
				z-index: -1
			&:after
				z-index: -1
		&:before
			content: ''
			position: absolute
			width: 100%
			height: 100%
			top: 0
			z-index: 0
			left: 0
			background: rgba(#000,.4)
		&:after
			content: ''
			position: absolute
			display: inline-block
			background-image: url(../img/index/icon-play.png)
			background-size: contain
			width: 2.5rem
			height: 2.5rem
			left: 50%
			z-index: 0
			top: 50%
			transform: translate(-50%,-50%)
		@media (max-width: 1025px)
			margin-bottom: 16px
	.guide-video-wrapper
		margin-bottom: 2px
		position: relative
		height: 362px
		img
			object-fit: cover
			height: 100%
			width: 100%
		&:hover
			h2 
				a 
					color: #ff7c3f
			&:before
				z-index: -1
			&:after
				z-index: -1
		a
			z-index: 3
		&:before
			content: ''
			position: absolute
			width: 100%
			height: 100%
			top: 0
			z-index: 0
			left: 0
			background: rgba(#000,.4)
		&:after
			content: ''
			position: absolute
			display: inline-block
			background-image: url(../img/index/icon-play.png)
			background-size: contain
			width: 5rem
			height: 5rem
			left: 50%
			z-index: 0
			top: 50%
			
			transform: translate(-50%,-50%)
		h2
			position: absolute
			top: 0
			display: inline-block
			padding: 11px 16px
			background: rgba(#fff,.5)
			font-size: r(16px)
			
			color: rgb(51, 51, 51)
			font-weight: 600
			text-transform: uppercase
		h5
			position: absolute
			bottom: 1rem
			left: 2rem
			font-weight: 500
			font-size: r(16px)
			
			color: rgb(255, 255, 255)
			line-height: 1.5
			text-align: left
		@media (max-width: 1600px)
			height: 312px
		@media (max-width: 1200px)
			height: 323.5px
	.index-guide-swiper-wrapper
		background: #f6f6f6
		padding: r(13px) r(30px) r(30px) r(30px)
		position: relative
		height: 100%
		h3
			padding-bottom: r(20px)
			font-size: r(16px)
			
			color: rgb(51, 51, 51)
			font-weight: 600
			text-transform: uppercase
			&:hover 
				a 
					color: #ff7c3f
		.navigation-wrapper
			display: flex
			justify-content: center
			align-items: center
			.swiper-catelogue-prev
				margin-right: 2rem
				position: relative
				&:after
					content: ''
					display: block
					position: absolute
					left: 2.3rem
					bottom: .325rem
					width: 1px
					height: r(16px)
					background: #999999
			.swiper-catelogue-prev,.swiper-catelogue-next
				display: flex
				justify-content: center
				align-items: center
				&:focus
					outline: none
				&:hover
					em
						color: #e2ab49
				em
					color: #999999
					font-size: 1.25em
		@media (max-width: 768px)
			margin-bottom: 16px
			height: auto
			padding: 16px
	.index-guide-contact
		height: 49%
		.figure
			height: 100%
			.figure-image
				position: relative
				height: 100%
				img
					object-fit: cover
					height: 100%
					width: 100%
				.figure-caption-wrapper
					position: absolute
					top: 0
					left: 0
					display: flex
					justify-content: center
					align-items: flex-start
					flex-flow: column
					h2
						font-size: r(16px)
						
						color: rgb(51, 51, 51)
						font-weight: bold
						text-transform: uppercase
						font-weight: 600
						display: inline-block
						background: rgba(#fff,.5)
						margin-bottom: r(5px)
						padding: 11px 16px
						&:hover 
							color: $main
							a 
								color: $main
					.figure-caption
						display: flex
						justify-content: flex-start
						align-items: center
						margin:  1rem  0 0 1rem
						.caption-icon
							background: rgba(#e2ab49,.5)
							border: 1px solid #e2ab49
							width: r(46px)
							height: r(46px)
							margin-right: .5rem
							border-radius: 50%
							display: flex
							justify-content: center
							align-items: center
							em
								color: #fff
								font-size: r(20px)
						h5
							font-size: r(20px)
							
							color: rgb(255, 255, 255)
							font-weight: bold
							line-height: r(28px)
							text-align: left
							&:hover 
								color: $main
								a 
									color: $main

						p
							font-size: r(15px)
							
							color: rgb(255, 255, 255)
							line-height: r(23px)
							text-align: left
							&:hover 
								color: $main
								a 
									color: $main
		&:first-child
			margin-bottom: 10px
		@media (max-width: 1600px)
			height: calc(405px / 2)
		@media (max-width: 768px)
			float: left
			width: calc(50% - 5px)
			.figure
				.figure-image
					.figure-caption-wrapper
						.figure-caption
							h5
								font-size: 15px
							.caption-icon
								width: 36px
								height: 36px
								em
									font-size: 18px
			&:last-child
				margin-left: 10px
				&:after
					clear: both
					display: block
					content: ''
		@media (max-width: 576px)
			clear: both
			width: 100%
			margin-left: 0 !important