section.product-recently
	.product-article-title
		h2 Sản phẩm đã xem
	.row.no-gutters
		.col-xl-3.col-sm-4.col-6
			.item
				.figure
					.figure-image.shine
						img(src="./img/san-pham/product-image-9.png", alt="")
					.figure-caption
						h4 MS: 613.42.303
						p Khoá điện tử
						h5 10.100.000 VND
					.item-cart
						a(href="#")
							em.mdi.mdi-cart
							span Thêm vào giỏ hàng
		.col-xl-3.col-sm-4.col-6
			.item
				.figure
					.figure-image.shine
						img(src="./img/san-pham/product-image-10.png", alt="")
					.figure-caption
						h4 MS: 613.42.303
						p Khoá điện tử
						h5 10.100.000 VND
					.item-cart
						a(href="#")
							em.mdi.mdi-cart
							span Thêm vào giỏ hàng
		.col-xl-3.col-sm-4.col-6
			.item
				.figure
					.figure-image.shine
						img(src="./img/san-pham/product-image-11.png", alt="")
					.figure-caption
						h4 MS: 613.42.303
						p Khoá điện tử
						h5 10.100.000 VND
					.item-cart
						a(href="#")
							em.mdi.mdi-cart
							span Thêm vào giỏ hàng
		.col-xl-3.col-sm-4.col-6
			.item
				.figure
					.figure-image.shine
						img(src="./img/san-pham/product-image-12.png", alt="")
					.figure-caption
						h4 MS: 613.42.303
						p Khoá điện tử
						h5 10.100.000 VND
					.item-cart
						a(href="#")
							em.mdi.mdi-cart
							span Thêm vào giỏ hàng