.product-slide
	.swiper-prev,.swiper-next
		position: absolute
		top: 50%
		transform: translateY(-50%)
		display: flex
		justify-content: center
		align-items: center
		color: #999999
		font-size: 30px
		z-index: 30
		cursor: pointer
	.swiper-prev
		left: 0
	.swiper-next
		right: 0
.viewed-product
	.swiper-slide
		width: 167.5px !important
		@media(min-width: 411)
			width: 185.5px !important
		@media(min-width: 768px)
			width: 223.33px !important
		@media(min-width: 1025px)
			width: 198.75px !important
		@media(min-width: 1600px)
			width: 249.38px !important
	&.viewed-product-2
		.swiper-slide
			@media(min-width: 1025px)
				width: 184px !important
			@media(min-width: 1200px)
				width: 214px !important
			@media(min-width: 1600px)
				width: 268px !important