section.footer-an-cuong
	.container
		.footer-nav
			ul
				li
					a(href="#") Trang Chủ
				li
					a(href="#")   Sản phẩm
				li
					a(href="#") dự án
				li
					a(href="#") hệ thống bán hàng
				li
					a(href="#") tin tức
				li
					a(href="#") thư viện
				li
					a(href="#") liên hệ 
				li
					a(href="#") giới thiệu
		.footer-contact-information
			.row
				.col-12
					.distribute-title
						span Phân phối bởi : 
							h2 công ty cổ phần gỗ An cường
					h5 Trự sở: 702/1K Sự Vạn Hạnh, F. 12, Q. 10, TP. HCM. Tell: +84.028. 3862 5726 - Email: support@ancuong.com
					h5 Kênh chăm sóc khách hàng | Bảng giá - Catalogue | Hướng dẫn sử dụng | Điều kiện bảo hành
					h5 Copyright @ 2019 All rights reserved.