<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
	<add name="Sản phẩm liên quan - giỏ hàng" value="10" resourcefile="" />
    <add name="Sản phẩm đã xem" value="0" resourcefile="" />
    <add name="Sản phẩm khuyen mai" value="1" resourcefile="" />
    <add name="FlashSale" value="2" resourcefile="" />
  </position>
  
  <showoption name="Mới" value="1" class="promotion op1" />
  <showoption name="Khuyến mãi" value="2" class="promotion op2" />
  <showoption name="Cái" value="4" class="promotion op3" />
  <showoption name="Cuộn" value="8" class="promotion op4" />
  <showoption name="Bộ" value="16" class="promotion op5" />
  <showoption name="Thanh" value="32" class="promotion op6" />
  <showoption name="Tấm" value="64" class="promotion op7" />
  <showoption name="Mét" value="128" class="promotion op8" />
  <showoption name="Hộp" value="256" class="promotion op9" />
  <showoption name="Cặp" value="512" class="promotion op9" />
  <showoption name="M2" value="1024" class="promotion op9" />

  <templatelist xsltname="SanPham.xslt" name="Danh sách sản phẩm" />
  <templatelist xsltname="ProductListSale.xslt" name="Danh sách sản phẩm khuyến mãi" />

  <templatedetail xsltname="SanPham-CT.xslt" name="Sản phẩm chi tiết " />
</templates>