section.project-display
	.container
		.row
			.col-12.col-sm-6
				.figure
					.figure-image.shine
						img(src="./img/du-an/project-image-1.jpg", alt="Aquabay Ecopark")
					.figure-caption
						h5 Aquabay Ecopark
						span
							em.mdi.mdi-map-marker
							p Vị trí:Số 25-26, Đường Phạm Văn Đồng, Vĩnh Hải, Tp. Nha Trang, Khánh Hòa
						span
							em.fas.fa-suitcase
							p Loại hình: Căn hộ/ Cao ốc văn phòng
			.col-12.col-sm-6
				.figure
					.figure-image.shine
						img(src="./img/du-an/project-image-2.jpg", alt="Scenia Bay Nha Trang ")
					.figure-caption
						h5 Scenia Bay Nha Trang 
						span
							em.mdi.mdi-map-marker
							p Vị trí:Số 25-26, Đường Phạm Văn Đồng, Vĩnh Hải, Tp. Nha Trang, Khánh Hòa
						span
							em.fas.fa-suitcase
							p Loại hình: Căn hộ/ Cao ốc văn phòng
			.col-12.col-sm-6
				.figure
					.figure-image.shine
						img(src="./img/du-an/project-image-3.jpg", alt="Aquabay Ecopark")
					.figure-caption
						h5 An Cựu City
						span
							em.mdi.mdi-map-marker
							p Vị trí: Đường Số 7, An Đông, Thành phố Huế, Thừa Thiên Huế Loại
						span
							em.fas.fa-suitcase
							p Loại hình: Căn hộ/ Cao ốc văn phòng
			.col-12.col-sm-6
				.figure
					.figure-image.shine
						img(src="./img/du-an/project-image-4.jpg", alt="Scenia Bay Nha Trang ")
					.figure-caption
						h5 Scenia Bay Nha Trang 
						span
							em.mdi.mdi-map-marker
							p Vị trí:Số 25-26, Đường Phạm Văn Đồng, Vĩnh Hải, Tp. Nha Trang, Khánh Hòa
						span
							em.fas.fa-suitcase
							p Loại hình: Căn hộ/ Cao ốc văn phòng
			.col-12.col-sm-6
				.figure
					.figure-image.shine
						img(src="./img/du-an/project-image-5.jpg", alt="Scenia Bay Nha Trang ")
					.figure-caption
						h5 Scenia Bay Nha Trang 
						span
							em.mdi.mdi-map-marker
							p Vị trí:Số 25-26, Đường Phạm Văn Đồng, Vĩnh Hải, Tp. Nha Trang, Khánh Hòa
						span
							em.fas.fa-suitcase
							p Loại hình: Căn hộ/ Cao ốc văn phòng
			.col-12.col-sm-6
				.figure
					.figure-image.shine
						img(src="./img/du-an/project-image-6.jpg", alt="Scenia Bay Nha Trang ")
					.figure-caption
						h5 Scenia Bay Nha Trang 
						span
							em.mdi.mdi-map-marker
							p Vị trí:Số 25-26, Đường Phạm Văn Đồng, Vĩnh Hải, Tp. Nha Trang, Khánh Hòa
						span
							em.fas.fa-suitcase
							p Loại hình: Căn hộ/ Cao ốc văn phòng
			.col-12.col-sm-6
				.figure
					.figure-image.shine
						img(src="./img/du-an/project-image-7.jpg", alt="Scenia Bay Nha Trang ")
					.figure-caption
						h5 Scenia Bay Nha Trang 
						span
							em.mdi.mdi-map-marker
							p Vị trí:Số 25-26, Đường Phạm Văn Đồng, Vĩnh Hải, Tp. Nha Trang, Khánh Hòa
						span
							em.fas.fa-suitcase
							p Loại hình: Căn hộ/ Cao ốc văn phòng
			.col-12.col-sm-6
				.figure
					.figure-image.shine
						img(src="./img/du-an/project-image-8.jpg", alt="Scenia Bay Nha Trang ")
					.figure-caption
						h5 Scenia Bay Nha Trang 
						span
							em.mdi.mdi-map-marker
							p Vị trí:Số 25-26, Đường Phạm Văn Đồng, Vĩnh Hải, Tp. Nha Trang, Khánh Hòa
						span
							em.fas.fa-suitcase
							p Loại hình: Căn hộ/ Cao ốc văn phòng
			.col-12.col-sm-6
				.figure
					.figure-image.shine
						img(src="./img/du-an/project-image-9.jpg", alt="Scenia Bay Nha Trang ")
					.figure-caption
						h5 Scenia Bay Nha Trang 
						span
							em.mdi.mdi-map-marker
							p Vị trí:Số 25-26, Đường Phạm Văn Đồng, Vĩnh Hải, Tp. Nha Trang, Khánh Hòa
						span
							em.fas.fa-suitcase
							p Loại hình: Căn hộ/ Cao ốc văn phòng
			.col-12.col-sm-6
				.figure
					.figure-image.shine
						img(src="./img/du-an/project-image-10.jpg", alt="Scenia Bay Nha Trang ")
					.figure-caption
						h5 Scenia Bay Nha Trang 
						span
							em.mdi.mdi-map-marker
							p Vị trí:Số 25-26, Đường Phạm Văn Đồng, Vĩnh Hải, Tp. Nha Trang, Khánh Hòa
						span
							em.fas.fa-suitcase
							p Loại hình: Căn hộ/ Cao ốc văn phòng
		