.sidebar-index .sidebar-index-wrappper {
    background: #dbdbdb
}

/* .index-guide-catalogue .index-guide-contact .figure .figure-image .figure-caption-wrapper .figure-caption .caption-icon {
    background: rgba(352, 99, 82, .5);
    border: 1px solid rgb(352, 99, 82)
} */

.Module-245 .ModuleContent {
    height: 100%;
}

.index-guide-catalogue .index-guide-contact .figure .figure-image img {
    height: 100%!important;
}

.product-article-title {
    background: #c6cccc
}

.product-detail .product-add-cart .add-cart-wrapper {
    justify-content: center
}
.item .figure, .flash-sale .swiper-container, .other-project .figure, .project-display .figure{
box-shadow: 1px 1px 3px 1px #acabab
}
.viewed-product .swiper-container, .product-slide .swiper-container{
padding: 5px;
margin: -5px
}