section.index-swiper
	.swiper-container#index-swiper
		.swiper-wrapper
			.swiper-slide
				.swiper-image.shine
					img(src="./img/index/home-slide-image-1.jpg", alt="Chiết khấu lên đến 49% các dòng sản phẩm IMUNDEX")
				.swiper-caption
					h4
						| Chiết khấu lên đến 49% 
						br
						| các dòng sản phẩm IMUNDEX
			.swiper-slide
				.swiper-image.shine
					img(src="./img/index/home-slide-image-1.jpg", alt="Chiết khấu lên đến 49% các dòng sản phẩm IMUNDEX")
				.swiper-caption
					h4
						| Chiết khấu lên đến 49% 
						br
						| các dòng sản phẩm IMUNDEX
			.swiper-slide
				.swiper-image
					img(src="./img/index/home-slide-image-1.jpg", alt="Chiết khấu lên đến 49% các dòng sản phẩm IMUNDEX")
				.swiper-caption
					h4
						| Chiết khấu lên đến 49% 
						br
						| các dòng sản phẩm IMUNDEX
		.swiper-button-prev
		.swiper-button-next
