.news-display
	.big-news
		margin-bottom: 30px
		position: relative
		&:before
			content: ''
			display: block
			position: absolute
			left: 0
			bottom: 0
			width: 100%
			height: 100%
			background: linear-gradient(rgba(#fff,0), rgba(#000,.5))
			z-index: 2
		.news-image
			position: relative
			padding-top: 513 / 929 * 100%
			img
				top: 0
				left: 0
				width: 100%
				height: 100%
				object-fit: cover
				position: absolute
		.news-caption
			position: absolute
			bottom: 1rem
			left: 1rem
			z-index: 3
			p
				font-size: r(13px)
				color: rgb(197, 197, 197)
				line-height: r(22px)
			h5
				padding-right: 5rem
				font-size: r(16px)
				color: rgb(255, 255, 255)
				line-height: r(24px)
				font-weight: 600
				+line(2)
		@media (max-width: 768px)
			.news-caption
				p
					font-size: 11px
				h5
					font-size: 13px
					line-height: 1.5

	.news-aside
		border-top: 1px solid #ebebeb
		padding: 16px 0
		&:last-child
			border-bottom: 1px solid #ebebeb
		p
			font-size: r(13px)
			color: rgb(153, 153, 153)
			line-height: 1.786
		h5
			font-size: r(16px)
			color: rgb(51, 51, 51)
			line-height: r(22px)
			text-transform: uppercase
			font-weight: 600
			+line(2)
		@media (min-width: 1600px)
			padding: 28px 0
		@media (max-width: 1025px)
			&:last-child
				margin-bottom: 30px
		@media (max-width: 768px)
			padding: 9.5px 0
			p
				font-size: 11px
			h5
				font-size: 13px
				+line(1)
	.news-item
		margin-bottom: 30px
		.figure
			.figure-caption
				p
					margin-top: 10px
					margin-bottom: 5px
					font-size: r(14px)
					color: rgb(153, 153, 153)
					line-height: 1.786
					font-weight: 400
				h5
					font-size: r(16px)
					color: rgb(51, 51, 51)
					line-height: r(22px)
					text-transform: uppercase
					font-weight: 600
					+line(2)
		@media (max-width: 768px)
			.figure
				.figure-caption
					h5
						font-size: 13px
					p
						font-size: 11px
						margin-top: 5px
						margin-bottom: 0
