section.news-display
	.row
		.col-lg-8
			.big-news
				.news-image.shine
					img(src="./img/tin-tuc/news-image-1.jpg", alt="AN CƯỜNG GIỚI THIỆU NEW SHOW GALLERY & DESIGN CENTER TẠI PHÚ MỸ")
				.news-caption
					p 26/04/2019
					h5 AN CƯỜNG GIỚI THIỆU NEW SHOW GALLERY & DESIGN CENTER TẠI PHÚ MỸ HƯNG - HAPPY VALLEY BLOCK A
		.col-lg-4
			.news-aside
				p 26/04/2019
				h5 Khai trương rộn ràng - ngập tràn khuyến mãi
			.news-aside
				p 26/04/2019
				h5 Khai trương rộn ràng - ngập tràn khuyến mãi
			.news-aside
				p 26/04/2019
				h5 Khai trương rộn ràng - ngập tràn khuyến mãi
			.news-aside
				p 26/04/2019
				h5 Khai trương rộn ràng - ngập tràn khuyến mãi
	.row
		.col-6.col-lg-4.news-item
			.figure
				.figure-image.shine
					img(src="./img/tin-tuc/news-image-2.jpg", alt="AN CƯỜNG GÂY ẤN TƯỢNG MẠNH CHO ĐẾN NGÀY CUỐI CÙNG TẠI VIETBUILD")
				.figure-caption
					p 26/04/2019
					h5 AN CƯỜNG GIỚI THIỆU NEW SHOW GALLERY & DESIGN CENTER TẠI PHÚ MỸ HƯNG - HAPPY VALLEY BLOCK A
		.col-6.col-lg-4.news-item
			.figure
				.figure-image.shine
					img(src="./img/tin-tuc/news-image-3.jpg", alt="AN CƯỜNG GÂY ẤN TƯỢNG MẠNH CHO ĐẾN NGÀY CUỐI CÙNG TẠI VIETBUILD")
				.figure-caption
					p 26/04/2019
					h5 AN CƯỜNG GIỚI THIỆU NEW SHOW GALLERY & DESIGN CENTER TẠI PHÚ MỸ HƯNG - HAPPY VALLEY BLOCK A
		.col-6.col-lg-4.news-item
			.figure
				.figure-image.shine
					img(src="./img/tin-tuc/news-image-4.jpg", alt="AN CƯỜNG GÂY ẤN TƯỢNG MẠNH CHO ĐẾN NGÀY CUỐI CÙNG TẠI VIETBUILD")
				.figure-caption
					p 26/04/2019
					h5 AN CƯỜNG GIỚI THIỆU NEW SHOW GALLERY & DESIGN CENTER TẠI PHÚ MỸ HƯNG - HAPPY VALLEY BLOCK A
		.col-6.col-lg-4.news-item
			.figure
				.figure-image.shine
					img(src="./img/tin-tuc/news-image-5.jpg", alt="AN CƯỜNG GÂY ẤN TƯỢNG MẠNH CHO ĐẾN NGÀY CUỐI CÙNG TẠI VIETBUILD")
				.figure-caption
					p 26/04/2019
					h5 AN CƯỜNG GIỚI THIỆU NEW SHOW GALLERY & DESIGN CENTER TẠI PHÚ MỸ HƯNG - HAPPY VALLEY BLOCK A
		.col-6.col-lg-4.news-item
			.figure
				.figure-image.shine
					img(src="./img/tin-tuc/news-image-6.jpg", alt="AN CƯỜNG GÂY ẤN TƯỢNG MẠNH CHO ĐẾN NGÀY CUỐI CÙNG TẠI VIETBUILD")
				.figure-caption
					p 26/04/2019
					h5 AN CƯỜNG GIỚI THIỆU NEW SHOW GALLERY & DESIGN CENTER TẠI PHÚ MỸ HƯNG - HAPPY VALLEY BLOCK A
		.col-6.col-lg-4.news-item
			.figure
				.figure-image.shine
					img(src="./img/tin-tuc/news-image-7.jpg", alt="AN CƯỜNG GÂY ẤN TƯỢNG MẠNH CHO ĐẾN NGÀY CUỐI CÙNG TẠI VIETBUILD")
				.figure-caption
					p 26/04/2019
					h5 AN CƯỜNG GIỚI THIỆU NEW SHOW GALLERY & DESIGN CENTER TẠI PHÚ MỸ HƯNG - HAPPY VALLEY BLOCK A
